@import url('https://fonts.googleapis.com/css?family=Lato');

@mixin center () {
	display: flex;
	justify-content: center;
	align-items: center;
  flex-direction: column;
}

/* styles in src/style directory are applied to the whole page */
body {
  display:block !important; /*prevents flash of unstyled content when ng-cloak not working*/
}

body,html, app, app div {
  font-family: 'Lato', sans-serif;
  text-align: center;
  height: 100%;
}


a {
  color: #03A9F4;
}

.main {
  min-height: 100%;
  height: auto;
  @include center();
  font-size: 15px;
}
